body {
    background-color: rgb(220,236,252);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: rgb(98,171,237);
    font-size: 2.5em;
}

button {
    color: rgb(98,171,237);
    border: rgb(98,171,237) 1px solid;
}

.container {
    text-align: center;
}


.playBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: rgb(98,171,237);
    text-decoration: none;
    border: rgb(98,171,237) 1px solid;
    transition: background-color 0.3s;
}

.playBtn:hover {
    background-color: rgb(98,171,237);
    color: white;
}

.end button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2em;
    color: rgb(98,171,237);
    text-decoration: none;
    border: rgb(98,171,237) 1px solid;
    /* transition: background-color 0.3s; */
    transition: transform 0.3s ease;
    margin: 5px;
    height: auto;
    width: 15rem;
}

.end button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
/* Add this at the end of styles.css */

.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#progress {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

#question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.choices {
    width: 80%;
}

.choiceContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 8px;
    /* background-color: rgb(220,236,252); */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
}

.choiceContainer:hover {
    background-color: #e0e0e0;
}

.number {
    font-weight: bold;
    margin-right: 10px;
}

.text {
    flex-grow: 1;
}

#finalScore {
    font-size: 3rem;
    color: rgb(98,171,237);
    font-weight: bolder;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}